#students{
	
	-fx-background-color: #c4c4c4;
	-fx-border-color: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

#professors{
	
	-fx-border-color: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

#examCellMembers{
	
	-fx-background-color: #c4c4c4;
	-fx-border-color: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

#departments{
	
	-fx-background-color: #c4c4c4;
	-fx-border-color: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

#courses{
	
	-fx-border-color: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

#batches{
	
	-fx-background-color: #c4c4c4;
	-fx-border-color: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

#subjects{
	
	-fx-border-color: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

#classrooms{
	
	-fx-background-color: #c4c4c4;
	-fx-border-color: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}
#dummy{

	-fx-border-color: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}
#students:hover{

    -fx-background-color: linear-gradient( #55547D, #D3D3D3);
}
#professors:hover{

    -fx-background-color: linear-gradient( #55547D, #D3D3D3);
}
#examCellMembers:hover{

    -fx-background-color: linear-gradient( #55547D, #D3D3D3);
}
#departments:hover{

    -fx-background-color: linear-gradient( #55547D, #D3D3D3);
}
#courses:hover{

    -fx-background-color: linear-gradient( #55547D, #D3D3D3);
}
#batches:hover{

    -fx-background-color: linear-gradient( #55547D, #D3D3D3);
}
#subjects:hover{

    -fx-background-color: linear-gradient( #55547D, #D3D3D3);
}
#classrooms:hover{

    -fx-background-color: linear-gradient( #55547D, #D3D3D3);
}